:root {
  --p-color: #00ffe7;
  --success-color: #98ff00;
  --danger-color: #ff0018;
  --background-color: #6700ff;
}
html,
body {
  /* min-height: 100%; */
}
body {
  height: 100vh;
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
  /* margin-top: none; */
  background-color: var(--background-color);
  margin-top: 0;
  margin-left: 0;
  /* height: 100vh; */
  /* height: 100%; */
  width: 100%;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
.container {
  /* margin: 10px; */
  display: flex;
  /* height: 100vh; */
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px dashed black; */
  /* background-color:; */
}

.subContiner {
  width: auto;
  height: 100%;
  /* border: 4px dashed var(--success-color); */
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: scroll; */
  /* border: 2px dashed red; */
}

.add {
  margin: 50px;
  padding: 10px;
}
.uploadicon {
  color: var(--p-color);
  padding: 0px;
  border: 2px solid var(--p-color);
  border-radius: 5px;
}
.filelist {
  padding: 10px;
  font-size: 150%;
  color: white;
  overflow-y: scroll;
}
.filelisttable {
}
.filelistheader {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 5px;
}
.cell {
  align-self: center;
  text-align: center;
}
.filerow {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}
.filerow:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.2);
}
.downloaddiv .deletediv {
  padding: 5px;
  margin-right: 10px;
  border: none;
  color: inherit;
  outline: inherit;
}
.disabled {
  color: grey;
}
.actions {
  flex-direction: column;
  justify-content: space-between;
}
.searchbar {
  padding: 5px;
  margin-right: 5px;
}
.searchtext {
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}
.paginationicons {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 10px;
}
.pageno {
  font-size: 150%;
  padding: 2px;
}
.prev .next {
  padding: 2px;
}
.filename {
  word-wrap: break-word;
  /* max-width: ; */
  padding: 10px;
}

.waitcontiainer {
  /* visibility: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
.waitsubcontianer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.statusbar {
  align-self: center;
  width: 50%;
  height: 50px;
  display: flex;
  border: 2px dotted #fff;
  background-color: black;
}
.statusCompleted {
  padding: 2% 2% 2% 2%;
  width: 10%;
  height: auto;
  background-color: white;
}
.statusPending {
  width: auto;
  height: auto;
  background-color: black;
}

.label-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* alert css */
.alertcontainer {
  position: absolute;
  top: 10%;
  left: 0;
  /* transform: translate3d(50px, 100px, 0); */
  height: 100%;
  width: 100%;
}
.alertsubcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.alertmessage {
  /* background-color: rgba(0, 0, 0, 0.7); */
  width: 100%;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
}
.alert-success {
  background-color: var(--success-color);
  border: none;
}
.alert-danger {
  background-color: var(--danger-color);
}
.alert-dark {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.hide {
  visibility: hidden;
}

.createfolder {
  border: 1px solid white;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.folder-container {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  border: 1px solid white;
  /* width: 400px;
  height: 400px; */
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.7);
  /* transform: translate3d(-50%, -50%, 0); */
  /* background-color: ; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.folder-subcontainer {
  width: 80%;
  min-width: 400px;
  height: 80%;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.foldername {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addtofolder {
  margin: 10px;
  /* border: 1px solid black; */
  width: 50px;
  /* height: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border-radius: 10px; */
}
.closefolder {
  margin: 10px;
  border: 1px solid black;
  width: 50px;
  /* height: 20px; */
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.folderfiles {
  /* margin: 20px; */
  border: 1px dashed black;
  width: 100%;
  height: 100%;
  /* grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  overflow-y: scroll;
}

.folderfile {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
